$redColor: red;

.container {
    background-color: $redColor;
}

.check-auto-prefixer {
    display: flex;
    justify-content: center;
    user-select: none;
}

.checkStyleLint {
    opacity: 0.5;
}

.backgroundDog {
    background: url('./dog.jpg') no-repeat;
    background-size: contain;
    color: white;
    width: 50px;
    padding-left: 50px;
}
